@use "../../styles/globals" as *;

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host__name {
  color: $color-primary;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

/* Photo arrondie */
.host__picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  background-color: $color-grey;
}

@media (max-width: 768px) {
  .host__name {
    font-size: 12px;
  }

  .host__picture {
    width: 32px;
    height: 32px;
  }
}
