@use "../../styles/globals" as *;

.host {
  display: flex;
  align-items: center;
  gap: 12px;

  &__name {
    color: $color-primary;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    letter-spacing: 0.2px;
  }

  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    object-fit: cover;
    background-color: $color-grey;
  }
}

@media (max-width: 768px) {
  .host {
    &__name {
      font-size: 12px;
    }

    &__picture {
      width: 32px;
      height: 32px;
    }
  }
}
