@use "../../styles/globals" as *;

.tag {
  background-color: $color-primary;
  color: $color-white;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 26px;
  border-radius: 0;
  padding: 0 14px;
}

@media (max-width: 768px) {
  .tag {
    height: 20px;
    font-size: 9px;
    padding: 0 10px;
  }
}
