@use "../styles/globals" as *;

.cards-container {
  margin: 40px 80px;
  padding: 48px 40px;
  background-color: $color-light;
  border-radius: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .cards-container {
    margin: 20px;
    padding: 0;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
