@use "../styles/globals" as *;

.housing {
  margin: 0 80px 60px;

  &__top {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__left {
    max-width: 70%;
  }

  &__tags {
    margin-top: 16px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    margin: 0 20px;
  }

  &__collapses {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__collapses > * {
    width: 50%;
  }

  &__equipments-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

@media (max-width: 768px) {
  .housing {
    margin: 0 20px 40px;

    &__top {
      margin-top: 20px;
      flex-direction: column;
      gap: 16px;
    }

    &__left {
      max-width: 100%;
    }

    &__right {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    &__collapses {
      margin-top: 20px;
      flex-direction: column;
      gap: 0;
    }

    &__collapses > * {
      width: 100%;
    }
  }
}
