@use "../styles/globals" as *;

.banner {
  margin: 0;
  height: 290px;
  border-radius: 0;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 0;
  }

  &__title {
    color: $color-white;
    font-weight: 700;
    font-size: 52px;
    letter-spacing: -1.5px;
    z-index: 1;

    .mobile-break {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    height: 160px;

    &__title {
      font-size: 26px;
      letter-spacing: -0.5px;

      .mobile-break {
        display: inline;
      }
    }
  }
}
